%aside.main-sidebar
  %section.sidebar
    %ul.sidebar-menu{"data-widget" => "tree"}
      = main_sidebar_link title: 'DASHBOARD', url: "#", icon: 'tachometer', class: (@open_dashboards? 'treeview menu-open' : 'treeview'), active: (%w(admins).include?(controller_name) && 'active') do
        %ul.treeview-menu{style: (@open_dashboards && 'display:block;')}
          = main_sidebar_link title: 'Overview', url: root_path, icon: 'line-chart', active: (@current_page == root_url && "active")
          = main_sidebar_link title: 'Orders', url: orders_path, icon: 'line-chart', active: (@current_page == orders_url && "active")
