%header.main-header
  %a.logo{:href => root_path}
    %span.logo-mini
      %b> KEENSAASS

    %span.logo-lg

  %nav.navbar.navbar-static-top
    %a.sidebar-toggle{"data-toggle" => "push-menu", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    

    .navbar-custom-menu
      -# %ul.nav.navbar-nav
      -#   %li.dropdown.user.user-menu
      -#     %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      -#       %img.user-image{:alt => "User Image", :src => "https://www.gravatar.com/avatar/000000000000000000?f=y&d=mm"}/
      -#       %span.hidden-xs
      -#         = current_user.full_name
      -#     %ul.dropdown-menu
      -#       %li.user-header
      -#         %img.img-circle{:alt => "User Image", :src => "https://www.gravatar.com/avatar/000000000000000000?f=y&d=mm"}/
      -#         %p
      -#           = current_user.full_name
      -#       %li.user-footer
      -#
      -#         .pull-right
      -#           = link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'btn btn-default btn-flat'
