- @title = 'Orders'
- @page_title = 'Orders'
- @subtitle = ''

.box
  .box-header
    %h3.box-title Orders

    .pull-right
      %button.btn.btn-box-tool{ type: 'button', "data-widget": "collapse"}
        %i.fa.fa-minus

  .box-body
    %table.table.table-bordered
      %thead
        %tr
          %th
            ID
          %th
            Number
          %th
            Actions
      %tbody
        = render partial: 'order', collection: @orders
