%pre
  = @order.inspect

:javascript

  $(function(){

    $(window).on('beforeunload',function(){
      console.log('ok')
      $.ajax({
        type: 'GET',
        url: '#{unlock_order_path(@order)}',
        dataType: "json"
      })
    })
  })
