!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Keensaas
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      = render 'shared/top_header'
      = render 'shared/left_menu'
      .content-wrapper
        = render 'shared/content_header'
        %section.content
          = yield
      = render 'shared/footer'
